{% extends 'base.html' %}
{% set title = 'Image Color Finder' %}
{% block content %}

<div class="short_content" style="width:auto; margin:0 auto;">
    <div class="card text-center border-0">
        <div class="card-body">
            <h2 class="" card-title">Image Color Finder</h2>
            <p class="card-text">A simple app to find the top 10 common colors of a user uploaded image and display the
                RGB color code and percentages of each.</p>
            <br>
            <div>
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                    <br>
                </div>
                {% endif %}
            </div>
            <form action="{{ url_for('home') }}" method="post" enctype="multipart/form-data" style="width:50%; margin:0 auto"
                onSubmit="document.getElementById('submit').disabled=true; document.getElementById('submit').innerHTML = 'Processing...'">
                <div>
                    <label for="formFile" class="col-form-label-sm">(".jpg", ".jpeg", or ".png" for input.)</label>
                    <input class="form-control" id="formFile" name="file" type="file" required="required"
                        accept=".jpg,.jpeg,.png" />
                </div>
                <br>
                <button type="submit" id="submit" class="btn btn-secondary">Upload</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
