<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .rectangle {
            height: 50px;
            width: 100px;
            border: 20;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <img src="{{ url_for('static', filename=image) }}" style="height: 300px;">
    {% for color in colors %}
    <div class="rectangle" style="background-color: rgb{{ color[1] }}"></div>
    {{ color[0] }}%
    {% endfor %}
</body>

</html>